* {
    box-sizing: border-box;
}

.wrapper {
    height: 100px;
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    flex-direction: row;
  }
}

.box {
    width: 100px;
    height: 100px;
    background: chartreuse; 
}
 
.box:nth-child(1) {
    background-color: aqua;
    width: 50vw;
    height: 50vh;
  }
 
.box:nth-child(2) {
    background-color: orange;
  }
 
.box:nth-child(3) {
    background-color: pink;
  }
 