* {
    margin: 0;
    padding: 0;
  }

  .parent {
      background: blue;
  }

  .section {
      width: 500px;
  }
  
  .responsive {
    display: flex;
    align-items: center;
  }


  /* Add Media Queries
  Example: 
  @media screen and (min-width: 480px) {
    .responsive {
        background-color: green
    }
  } */