
* {
    margin: 0;
    padding: 0;
  }
  
  .responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 800px) {
      .responsive {
          flex-direction: row;
      }
  }
  
  /* Add Media Queries
  Example: 
  @media screen and (min-width: 480px) {
    .responsive {
        background-color: green
    }
  } */